body {
  display: flex;
  background-color: #1f2937;
}

.header {
  display: flex;

}
.headBar {
  display: flex;
  align-items: center;
 justify-content: space-between;
 gap: 500px;
  
}

.headerLogo {
  color: #f9faf8;
  font-size: 28px;
  padding-left: 150px;
  font-family: 'Bad Script', cursive;
}

.links {
    font-size: 18px;
  color: #1f2937;
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #E5e7eb;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
}
